header {
    background-image: url("./background.jpeg");
    font-weight: bold;
    font-family: Helvetica;
    color: khaki;
    height: 80px;
    width: 100%;
    display: inline-block;
}
header h1 {
    text-align: center;
    position: relative;
}

.brushes {
    color: white;
    background-color: mediumspringgreen;
}

.frames {
    color: white;
    background-color: lightcoral;;
}

.paint {
    color: white;
    background-color: skyblue;
}

.cost {
    color: blue;
}